/* Crea un nuevo documento HTML con el título "Disposición de elementos en CSS"
Crea un nuevo fichero CSS e impórtalo en el documento HTML principal
Utiliza la disposición flex-box para crear una galería de 6 imágenes con los siguientes parámetros
Las imágenes deben tener 300 píxeles de ancho
Deben reagruparse (wrap) cuando el ancho del viewport cambia */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
img{
    margin: 1rem 0;
    width: 300px;
    opacity: 0.8;
}
img:hover{
    opacity: 1;
}