/* Crea un nuevo documento HTML con el título "Sistema grid de Bootstrap"
Utilizando la página oficial getboostrap.com, añade la última versión de Bootstrap a este documento HTML
Crea 6 div con un texto en su interior
Utilizando únicamente el atributo class de cada uno de los div haz lo siguiente:
Por defecto, cada elemento ocupará el ancho máximo
Para viewports SM - cada fila contendrá 2 elementos
Para viewports MD - cada fila contendrá 3 elementos
Para viewports LG - cada fila contendrá 4 elementos
Para viewports XL - cada fila contendrá 6 elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    padding: 1rem;
    text-align: center;
}
h1{
    background-color: lightblue;
}
h2{
    background-color: lightcoral;
}
h3{
    background-color: lightcyan;
}
h4{
    background-color: lightgoldenrodyellow;
}
h5{
    background-color: lightgray;
}
h6{
    background-color: lightpink;
}

col-sm{
    width: 50%;
}