/* Crea un nuevo documento HTML con el título "Diseño Responsive con CSS"
Crea un nuevo fichero CSS e impórtalo en el documento HTML principal
Crea las siguientes dos secciones:
Una barra lateral izquierda con tres elementos en vertical
Una sección principal a la derecha
(Tip: Utiliza la disposición flex donde la sección principal utilizará flex-grow)
Utiliza las media queries para que cuando el ancho del viewport sea menor de 640px ocurra lo siguiente:
La barra lateral izquierda se muestre como una navegación en la parte inferior
La disposición de los elementos de la barra lateral se vuelva horizontal
(Tip: Trabaja con la propiedad flex-direction) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, main, nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 100vh;
}
main{
    width: 40rem;
    justify-content: space-evenly;
    border: 1px solid rgba(175, 172, 172, 0.842);
    border-radius: 0.3rem;
}
main
nav{
    flex-flow: column wrap;    
    background-color: tomato;
}
nav div{
    margin: 1rem;
    width: 6rem;
    height: 6rem;
    background-color: antiquewhite;
}
article{
    width:100%;
    height:24rem;
    flex-grow:1;
    background-color: lightgoldenrodyellow;
}

@media screen and (min-width:640px) {
    main{
        flex-direction: column-reverse;
    }
    nav{
        width: 100%;
        height: 8rem;
        flex-flow: row nowrap;
    }
}