// PRINCIPAL COMPONENTS
// variables
// color main btns-icons
$color-main: #0075ff;
//titles color main
$title-color-main:#0A0B0D;
// text color main
$text-color:#615e5e;
// text-center
$txt-alg-center: center;
// white color
$white-color:#fcfdfe;
// mixing
//flex-box
@mixin d-flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

// buttons size
@mixin btn-main-sz {
    padding: 0.40rem 1.75rem;
    border-radius: 0.25rem;
}
@mixin  btn-sec-sz {
    font-size:0.75rem;
    padding: 0.40rem 1rem;
}

.btn-main{
    @include btn-main-sz();
    background-color:$color-main;
    color: $white-color;
    border: 1px solid $color-main;

    &:hover{
        background-color: white;
        color: rebeccapurple;
    }

    &-sec{
        @extend .btn-main;
        @include btn-sec-sz()
    }
}
// wallet steps
.wallet-steps{
    padding: 2rem;
    // width responsive by boostrap
    max-width: 20rem;
//    @include d-flex-row-wrap;
    text-align: $txt-alg-center;
    .icon-ctnr{
        padding:0.50rem 0.75rem;
        align-self: center;
        font-size: 1.75rem;
        border-radius: 10.75rem;
        box-shadow: 0px 0px 4px 1px #000;
        background-color:transparent;
    }
    h4{
        margin:1rem 0;
        color: $title-color-main;
    }
    &-text{
        color: $text-color;
        font-size: 0.75rem;
    }
}

// header
header{
    padding: 1rem 0;
    .icon-span{
        @include d-flex-row-wrap();
        margin-bottom: 0.8rem;
        max-width: 11rem;
        justify-content: space-between;
        .btc-icon{
            padding:0.13rem 0.35rem;
            font-size: 1rem;
            background-color: $color-main;
            color: $white-color;
            border-radius: 10.75rem;
            &::before{
                transform: rotate(13deg);
            }
        }
        a{
            text-decoration: none;

            .right-arr{
                color: $color-main;
            }
            &::before{
                font-weight: bolder;
            }
        }
    }
    h1{
        color: $title-color-main;
    }
    p{
        @extend .wallet-steps-text;
        margin-bottom: 0;
    }
}

// call to action btn and input email
.call-to-action-ctnr{
    padding: 0;
    label{
        width: 100%;
    }
    button{
        margin-top: 1rem;

        background-color: $color-main;
        color: $white-color;
        border: none;
        &:hover{
            background-color: $color-main;
            opacity: 0.8;
            border: 1px solid $color-main;
        }
    }
}
@media screen and (min-width:350px) {
    .call-to-action-ctnr{
        margin-top: 1rem;
        display: flex;
        flex-flow: row nowrap;
        // justify-content: space-evenly;
        gap: 0.5rem;
        label, button{
            margin: 0;
            flex: 1;
            max-width: 50%;
        }
        
    }
}