// PRINCIPAL COMPONENTS
// variables
// color main btns-icons
$color-main: #0075ff;
//titles color main
$title-color-main:#0A0B0D;
// text color main
$text-color:#615e5e;
// text-center
$txt-alg-center: center;
// mixing
//flex-box
@mixin d-flex-row-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

// buttons size
@mixin btn-main-sz {
    padding: 0.40rem 1.75rem;
    border-radius: 0.25rem;
}
@mixin  btn-sec-sz {
    font-size:0.75rem;
    padding: 0.40rem 1rem;
}

.btn-main{
    @include btn-main-sz();
    background-color:$color-main;
    color: #fcfdfe;
    border: 1px solid $color-main;

    &:hover{
        background-color: white;
        color: rebeccapurple;
    }

    &-sec{
        @extend .btn-main;
        @include btn-sec-sz()
    }
}
// wallet steps
.wallet-steps{
    padding: 2rem;
    // width responsive by boostrap
    max-width: 20rem;
//    @include d-flex-row-wrap;
   text-align: $txt-alg-center;
    .icon-ctnr{
        padding:0.50rem 0.75rem;
        align-self: center;
        font-size: 1.75rem;
        border-radius: 10.75rem;
        box-shadow: 0px 0px 4px 1px #000;
        background-color:transparent;
    }
    h4{
        margin:1rem 0;
        color: $title-color-main;
    }
    &-text{
        color: $text-color;
        font-size: 0.75rem;
    }
}
