/* 
Crea un nuevo documento HTML con el título "Animaciones y transiciones en CSS"
Crea un nuevo fichero CSS e impórtalo en el documento HTML principal
En el body crea un botón con el atributo class "btn-modern"
Implementa las líneas necesarias en el CSS para que cuando el ratón pase por encima del botón ocurra lo siguiente (hover):
El botón se traslade -5px en el eje de las Y
Se añada una sombra
El color del texto cambie
/Todo esto con una transición de 0.4s
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-modern{
    width: 8rem;
    height: 4rem;
    border-radius: 0.3rem;
    background-color: rgb(250, 55, 41);
    color: #fcfdfe;
    transition: all ease-in-out 0.4s;
}
.btn-modern::before{
    content:'Presiona el botón';
}
.btn-modern:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.411);
    background-color: #fcfcfc;
    color: rgba(45, 47, 49, 0.842);
    transition: all ease-in-out 0.4s;
}