/* Replica el ejercicio del vídeo 3 de esta sesión y realiza el siguiente cambio:
Replícalo exactamente igual, pero realiza una nueva versión en modo oscuro
Los colores serán los siguientes
El rosa se queda igual
El fondo blanco será sustituido por el color #161717
El fondo de los inputs tendrá un color #212121
El fondo de los inputs cuando se hace hover será del color #454045
Los textos tendrán un color blanco */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #fcfdfe;
}
/* Estilos compartidos */
body, main, header, nav, form{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
main, button, input{
    border: none;
    border-radius: 0.3rem;
}
header, form{
    max-width: 32rem;
}
.google, .twitter{
    height: 3rem;
}
label, #checkbox{
    padding-left: 0.5rem;
}
label{
    margin: 0.5rem 0;
}

input:hover{
    transition: background-color 0.2s, box-shadow 0.2s;
}
button:hover, #submit:hover{
    opacity: 0.8;
    transition:all ease-in-out 0.2s;
    border: none;
}
/* ////////////////// */
body{
    align-items: center;
    flex-flow: column nowrap;
}
main{
    margin:1rem 0 2rem;
    max-width: 32rem;
    align-content: center;
    background-color: #161717;

}
header{
    margin: 2rem 0 1rem;
    padding: 0 2rem;
    height: 6rem;
}
h3{
    align-self: center;
}
.header-nav{
    margin-top:1rem;
    padding: 0 1rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    align-content: center;
}
.google{
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #3369e8;
    color: #fcfdfe;
}
.google::after{
    content: 'Registrate con Google';
}
img{
    width: 2rem;
    border-radius: 0.2rem;
}
.google img{
    margin-right: 0.5rem;
    background-color: #fcfdfe;
}
.twitter{
    width: 2.5rem;
}
.twitter img{
    width: 2rem;
    height: 1rem;
}
.separator{
    width: 100%;
    margin: 1rem 0;
    justify-content: center;
}
hr{
    width: 40%;
    height: 0.1rem;
    margin: 0.5em auto;
    display: block;
    border-style: inset;
    border-width: 1px;
    border-color: #454045;
}
.separator span{
    display: block;
    border: none;
}
form{
    padding: 0 2rem 2rem;
    justify-content: flex-start;
}
input{
    padding-left: 1rem;
    width: 100%;
    height: 2.3rem;
    background-color: #212121;
    border: none;
}
input:hover{ 
    background-color: #454045;
    border: 0.1rem solid rgba(179, 122, 160, 0.24);
}
input:focus-visible{
    box-shadow: 0px 0px 3px 1px #B932A9;
    outline: 1px solid #B932A9;
    color:#fcfdfec2;
}

.fullname-container{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-content: space-between
}
#name, #username{
    width: 48%;
}
#password::placeholder{
    color: #fcfdfe;
}
.checkbox-container{
    width: 100%;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content:flex-end;
    align-items: center;
}
#checkbox{
    margin: 1rem 0;
    width: 1rem;
    height: auto;
}
#submit{
    height: 3.5rem;
    font-weight: 700;
    background-color: rgba(241, 58, 180, 0.925);
}